@import "tailwindcss";

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  animation: scroll-left 50s linear infinite;
  animation-play-state: running;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(40px);
    filter: blur(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.animate-fade-up {
  animation: fade-up 1s ease-out forwards;
}